*.com
*.class
*.dll
*.exe
*.o
*.so

bin/
obj/

/packages/
riderModule.iml
/_ReSharper.Caches/


node_modules/
wwwroot/

publish/
dist/

.vs
.vscode/
.idea/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite
